<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DetailS</servlet-name>
        <servlet-class>Sev.DetailS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditData</servlet-name>
        <servlet-class>Sev.EditData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailS2</servlet-name>
        <servlet-class>Sev.DetailS2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSdorDataService</servlet-name>
        <servlet-class>Service.GetSdorDataService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSdorFromREST</servlet-name>
        <servlet-class>Rest.ShowSdorFromREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSdorData</servlet-name>
        <servlet-class>Service.GetDataService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show</servlet-name>
        <servlet-class>Service.ShowDataFromREST</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailS</servlet-name>
        <url-pattern>/DetailS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditData</servlet-name>
        <url-pattern>/EditData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailS2</servlet-name>
        <url-pattern>/DetailS2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSdorDataService</servlet-name>
        <url-pattern>/GetSdorDataService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSdorFromREST</servlet-name>
        <url-pattern>/ShowSdorFromREST</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSdorData</servlet-name>
        <url-pattern>/GetSdorData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show</servlet-name>
        <url-pattern>/Show</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
